header{
    background-color: rgb(255, 255, 255);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

button{
    padding: 10px 28px;
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}

button a{
    text-decoration: none;
    color: white;
}

.hero-container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    height: 600px;
    background-color: rgb(207, 207, 227);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    color:white

}

.hero-container .content{
    text-align: center;
    max-width: 600px;
}
.hero-container .content h1{
  font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-container .content p{
   font-size: 18px;
    color: #cccccc; 
    line-height: 1.6;
    margin-bottom: 180px;
}